<h1><%= @training_division.training_type.singularize %> Training  </h1>
  <h2><%= @training.training_date.strftime("%B #{@training.training_date.day.ordinalize}, %Y") %></h2>
  <% if @training.training_division_id == 4 %>
  <h4>Avy Route: <%= @training.location %></h4>
  <% else %>
<h4>Location: <%= @training.location %></h4>
<% end %>
<h4>Trainer: <%= @training.trainer %></h4>
<h4>Comments: <%= @training.comments %></h4>
<h4>Time: <%= @training.training_time %> <% if @training.training_time == 1 %>
    hour
    <% elsif @training.training_time == nil %>
    <% else %>
    hours
    <% end %>
  </h4>
<h4>Training code: <% @training.training_codes.each do |t| %>
  <span class="training_name"><%= t.training_name %> </span>
  <% end %></h4>
<%= link_to @training, method: :delete, data: { confirm: "You sure you want to delete this training?" }, class: "btn btn-default", id: "delete" do %>
  <i class="glyphicon glyphicon-trash"> Delete</i>
  <% end %>
<%= link_to edit_training_path, class: "btn btn-default", id: "edit" do %>
  <i class="glyphicon glyphicon-edit"> Edit</i>
  <% end %>