<div class="fields">
    <%= f.label :training_codes %>
    <%= f.select(:training_code_id, class: "shown_code_field") do %>

    <% @codes.each do |c| %>
    <%= content_tag(:option, c.training_name, value: c.id, class: "shown_code_field") %>
    <% end %>
    <% end %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", "javascript:void(0);", class: "remove_link" %>

</div>
